h1
{
    text-align: center;
    color: darkgreen;
    font-family: 'Arial', sans-serif;
    font-size: 36px;
}
p
{
    text-align: center;
    font-family: 'Verdana', sans-serif;
    font-size: 20px;
    color: #6e0c0c;
}

button
{
    display: block;
    margin: 10px auto;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #1a5f7a;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

body
{
    background-color: #361457;

}

div#results
{
    text-align: left;
    font-family: 'Verdana', sans-serif;
    font-size: 22px;
    color: #ffffff;
    margin-top: 20px;
}
